@{
    ViewBag.Title = "SamgoRaider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>三國志手遊筆記</h2>
<script src="~/Scripts/Samgo/RaiderController.js"></script>

<table class="table table-bordered rounded-circle  ">
    <tr>
        <td><a ng-click="showgrid='1'">大殿等級</a></td>
        <td><a ng-click="showgrid='2'">攻略城池</a></td>
        <td><a ng-click="showgrid='3'">武將簡介</a></td>
        <td><a ng-click="showgrid='4'">資源商</a></td>
    </tr>
    <tr>
        <td><a ng-click="showgrid='5'">兵書</a></td>
        <td><a ng-click="showgrid='6'">寶物</a></td>
        <td><a ng-click="showgrid='7'">練兵</a></td>
        <td><a ng-click="showgrid='8'">馬匹</a></td>
    </tr>
</table>
<hr>
<table class="table table-bordered rounded-circle  " ng-show="showgrid=='1'">
    <tr>
        <td>
            大殿等級
        </td>
        <td>
            需求
        </td>
        <td>
            大殿等級
        </td>
        <td>
            需求
        </td>
    </tr>
    <tr>
        <td>
            2級→3級
        </td>
        <td>
            2級伐木場

        </td>
        <td>
            4級

        </td>
        <td>
            3級採石場

        </td>
    </tr>
    <tr>
        <td>
            5級

        </td>
        <td>
            4級冶煉廠

        </td>
        <td>
            6級

        </td>
        <td>
            5級倉庫

        </td>
    </tr>
    <tr>
        <td>
            7級

        </td>
        <td>
            6級兵營、6級農田

        </td>
        <td>
            8級

        </td>
        <td>
            7級民居

        </td>
    </tr>
    <tr>
        <td>
            9級

        </td>
        <td>
            8級城牆、8級採石場

        </td>
        <td>
            10級

        </td>
        <td>
            10級計略府

        </td>
    </tr>
    <tr>
        <td>
            11級

        </td>
        <td>
            10級冶煉廠、10級冶煉廠

        </td>
        <td>
            12級

        </td>
        <td>
            11級民居

        </td>
    </tr>
    <tr>
        <td>
            13級

        </td>
        <td>
            12級城牆、12級採石場

        </td>
        <td>
            14級

        </td>
        <td>
            13及技法所、13級伐木場

        </td>
    </tr>
    <tr>
        <td>
            15級

        </td>
        <td>
            14級兵營、14級農田

        </td>
        <td>
            16級

        </td>
        <td>
            15級軍械所、15級伐木場、15級技法所

        </td>
    </tr>
    <tr>
        <td>
            17級

        </td>
        <td>
            16級民居

        </td>
        <td>
            18級

        </td>
        <td>
            17級計略府、17級冶煉廠

        </td>
    </tr>
    <tr>
        <td>
            19級

        </td>
        <td>
            18級城牆、18級採石場

        </td>
        <td>
            20級

        </td>
        <td>
            19級兵營、19級農田

        </td>
    </tr>
    <tr>
        <td>
            21級

        </td>
        <td>
            20級軍械所、20級技法所、20級伐木場

        </td>
        <td>
            22級

        </td>
        <td>
            21級技法所、21級伐木所

        </td>
    </tr>
    <tr>
        <td>
            23級

        </td>
        <td>
            22級民居

        </td>
        <td>
            24級

        </td>
        <td>
            23級計略府、23級冶煉廠

        </td>
    </tr>
    <tr>
        <td>
            25級

        </td>
        <td>
            24級鑄幣所、24級民居

        </td>
        <td>
            26級

        </td>
        <td>
            25級城牆、25級採石場

        </td>
    </tr>
    <tr>
        <td>
            27級

        </td>
        <td>
            26級兵營、26級農田

        </td>
        <td>
            28級

        </td>
        <td>
            27級技法所、27級伐木場

        </td>
    </tr>
    <tr>
        <td>
            29級

        </td>
        <td>
            28級民居

        </td>
        <td>
            30級

        </td>
        <td>
            29級計略府、29級冶煉廠

        </td>
    </tr>
    <tr>
        <td>
            31級

        </td>
        <td>
            30級城牆、30級採石場

        </td>
        <td>
            32級

        </td>
        <td>
            31級軍械所、31級技法所、31級伐木場

        </td>
    </tr>
    <tr>
        <td>
            33級

        </td>
        <td>
            32級兵營、32級農田

        </td>
        <td>
            34級

        </td>
        <td>
            33級技法所、33級伐木場

        </td>
    </tr>
    <tr>
        <td>
            35級

        </td>
        <td>
            34級民居

        </td>
        <td>
            36級

        </td>
        <td>
            35級計略府、35級冶煉廠

        </td>
    </tr>
    <tr>
        <td>
            37級

        </td>
        <td>
            36級城牆、36級採石場

        </td>
        <td>
            38級

        </td>
        <td>
            37級軍械所、37級技法所、37級伐木場

        </td>
    </tr>
    <tr>
        <td>
            39級

        </td>
        <td>
            38級兵營、38級農田

        </td>
        <td>
            40級

        </td>
        <td>
            39級技法所、39級伐木場

        </td>
    </tr>
    <tr>
        <td>
            41級

        </td>
        <td>
            40級民居

        </td>
        <td>
            42級

        </td>
        <td>
            41級農場、41級兵營

        </td>
    </tr>
    <tr>
        <td>
            43級

        </td>
        <td>
            42級採石場、42級城牆

        </td>
        <td>
            44級

        </td>
        <td>
            43級軍械所

        </td>
    </tr>
    <tr>
        <td>
            45級

        </td>
        <td>
            44級農場、44級兵營

        </td>
        <td>
            46級

        </td>
        <td>
            45級鑄幣所

        </td>
    </tr>
    <tr>
        <td>
            47級

        </td>
        <td>
            46級民居

        </td>
        <td>
            48級

        </td>
        <td>
            47級農場、47級兵營

        </td>
    </tr>
    <tr>
        <td>
            49級

        </td>
        <td>
            48級採石場、48級城牆

        </td>
        <td>
            50級

        </td>
        <td>
            49級軍械所
        </td>
    </tr>
</table>

<div ng-show="showgrid=='2'">
    打城池將遊戲打個45度角導正
    1.3.5.7 切齊城邊
    <table class="table table-bordered rounded-circle  ">

        <tr>
            <td>8</td>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <td>7</td>
            <td>郡守(4) 城池(3) </td>
            <td>3</td>
        </tr>
        <tr>
            <td>6</td>
            <td>5</td>
            <td>4</td>
        </tr>
    </table>

    <hr>
    <img src="~/image/SamgoGame/War/position.jpg" />

</div>
<div ng-show="showgrid=='3'">
    <pre ><span style="font-size: 13px">
紫將
荀攸:對隨機4支敵軍造成每秒智力%的計策傷害，持續8秒。
朱桓:對當前目標造成每秒統率%的普通傷害，持續6秒。
徐盛:本場不再獲得怒氣，使自身造成的傷害提高%
張紘:對隨機2支敵軍造成每秒智力%的計策傷害，持續8秒。
程普:對當前目標造成統率%的普通傷害，並有%的機率使其暈眩4秒。
祝融:對隨機3支敵軍造成武力%的普通傷害，並使其每秒受到武力%的普通傷害，持續4秒。
樂進:本場不再獲得怒氣，使自己受到的傷害降低%。
盧植:為全體友軍恢復統率%的兵力。
張任:對隨機1支敵軍造成統率%的普通傷害，並有%概率使其內訌3秒。
呂玲綺:對當前敵軍造成武力%的普通傷害。
曹彰:對當前敵軍造成武力%的普通傷害，並有%概率使其怯戰4秒。
于禁:使自身持續恢復統率的%兵力，持續4秒。
關興:為自身生成武力%的護盾，吸收受到的傷害，持續4秒。
澄將
騎-呂布-120：對當前目標造成武力389.8%普通傷害額外造成武力167.2%無視防禦傷害
盾-張飛-120：對當前目標造成武力199.1%普通傷害自身恢復武力84%兵力
槍-關羽-120：對當前目標造成武力371.3%普通傷害
盾-孫堅-120：對當前目標造成統率546%普通傷害自身免疫控制4秒
騎-張遼-120：對當前目標造成統率313.9%普通傷害 使其武力智力統率下降統率的9.8%
盾-董卓-120：自身統率提高28.6% 減傷12.6% 每秒回複武力44% 持續4秒
槍-甘寧-120：對當前目標造成武力226.8%普通傷害 若目標處於眩暈中則造成2倍傷害 
騎-馬超-120：對當前目標造成武力228.8%普通傷害 自身武力提高14%，可疊加5次
騎-趙雲-110：不再獲得怒氣武力提高62.7% 每次攻擊附帶武力17.1%普通傷害
盾-典韋-110：扣除武力56.6%兵力對當前目標造成武力339.4%普通傷害
盾-許褚-110：為自身和損失兵力最多2支友軍生成武力259.8%護盾，吸收傷害持續6秒
槍-張合-110：對當前目標造成統率276.6%普通傷害,15.4%概率眩暈4秒
騎-孫策-110：對當前目標造成武力180.6%普通傷害，怯戰3秒
盾-曹仁-110：自身攻擊附帶統率147.3%普通傷害持續4秒
槍-呂蒙-110：自身恢復統率155.1%減傷2.2%可疊加5次
槍-姜維-110：不再獲得怒氣自身統率提高23.8%傷害提高17.4%
盾-太史慈-100：對當前目標造成武力262.1%普通傷害 恢復自身10點怒氣
盾-鄧艾-100：自身造成傷害提高63%持續4秒
盾-魏延-100：自身攻擊附帶武力72.8%普通傷害持續6秒
盾-高順-100：自身傷害提高51.5% 受傷提高3.1% 持續6秒
騎-夏侯惇-100：自身武力提高19.3% 傷害提高17.4持續6秒
騎-馬雲祿-100：對當前目標造成武力96.3%普通傷害 使其每秒收到武力51%普通傷害持續6秒
騎-文醜-100：不再獲得怒氣 武力提高15.4% 傷害提高21.6%
盾-黃蓋-100：減傷19%持續4秒
盾-周泰-100：每次受傷後減傷4.2%持續4秒
騎-公孫讚-100：自身統率提高66.6% 減傷11.5% 持續6秒
盾-龐德-100：對當前目標造成武力133.6%普通傷害 自身恢復武力133.6%兵力
盾-孟獲-100：對當前目標造成武力139.7%普通傷害 封鎖技能6秒
盾-馬騰-100：對當前目標造成統率226.8%普通傷害 15.4%概率封鎖技能6秒
槍-顏良-100：對當前目標造成武力199.1%普通傷害 12.6%概率封鎖技能6秒
槍-徐晃-100：對當前目標造成武力143.6%普通傷害 12.6%概率怯戰4秒
弓-劉備-120：為武力最高的3支友軍回複統率148.4%兵力
弓-曹操-120：為怒氣最高的4支友軍回複9點怒氣並使其傷害提高14%持續2秒
弓-孫權-120：對全體敵軍造成智力194.9%普通傷害
弓-諸葛亮-120：對兵力最少的4支敵軍造成智力136.6計策傷害使其武力智力統率下降智力的13.2%
弓-司馬懿-120：對全體敵軍造成智力103.9計策傷害清除其所有增益效果
弓-陸遜-120：對武力最高2支敵軍造成智力224%計策傷害對損失兵力最多2支友軍生成智力126%
弓-左慈-120：對全體敵軍造成智力162.4%計策傷害使其受到的眩暈怯戰內訌技能封鎖時間延長2秒
弓-周瑜-120：對隨機2支敵軍造成智力40.3%傷害使其眩暈3秒若統率高於目標則眩暈2倍時間
弓-郭嘉-120：對隨機4支敵軍造成智力162.4計策傷害 若目標處於怯戰中則造成2倍傷害
弓-龐統-120：為全體友軍回複智力91%冰力使其傷害提高8.4%持續4秒
弓-賈詡-120：對隨機3支敵軍造成智力168%計策傷害6秒無法獲得怒氣
弓-黃忠-110：對兵力最高2支敵軍造成武力67.8%普通傷害16.8概率內訌4秒
弓-袁紹-110：對隨機3支敵軍造成統率59.9%普通傷害11.2概率內訌3秒
弓-貂蟬-110：使武力最高2支友軍武力提高智力的53.5%持續6秒
弓-孫尚香-110：對隨機3支敵軍造成武力83.2普通傷害14%概率眩暈2秒
弓-荀彧-110：為統率最高3支友軍恢復智力163.5%兵力
弓-張角-110：對隨機4支敵軍造成每秒智力40.6%計策傷害持續8秒
弓-夏侯淵-100：對隨機3支敵軍造成每秒武力35.3%普通傷害持續6秒
弓-魯肅-100：對隨機3支敵軍造成每秒智力39.2%計策傷害持續8秒
弓-陳宮-100：對隨機3支敵軍造成智力191.2%計策傷害
弓-小喬-100：為統率最高的4支友軍統率提高智力的46.8%持續3秒
弓-甄氏-100：為損失兵力最多2支友軍回複智力151.2%兵力
弓-黃月英-100：前排友軍回複智力80.4%兵力
弓-程昱-100：對隨機四支敵軍造成智力126%計策傷害
弓-曹丕-100：對隨機2支敵軍造成智力222%普通傷害 11.2%概率眩暈4秒
弓-徐庶-100：對隨機3支敵軍造成智力108.9%計策傷害 16.8概率封鎖技能3秒
弓-龐統-120：為全體友軍回複智力91%兵力使其傷害提高8.4%持續4秒
弓-甄氏-100：為損失兵力最多2支友軍回複智力151.2%兵力
弓-黃月英-100：前排友軍回複智力80.4%兵力
弓-大喬-100：為損失兵力最多的4支友軍回複智力110.3%兵力
弓-華佗-100：全體友軍回複智力28%兵力每秒回複智力13.7%兵力持續8秒
</span></pre>

</div>
<div ng-show="showgrid=='4'">

    <pre ><span style="font-size: 13px">
    換算方法(個人換算法):
    90元寶=60台幣
    台幣:元寶=1:1.5
    一張高遷=200元寶=132台幣
    一個軍令=大令40元寶(10個軍令)=4元寶=2.6台幣
    換資 1E 55人民幣=242台幣+81張軍令(140萬一車) (軍令不算 反正車人也要令)
         約1台幣=41萬資源
    反推
    1軍令=106萬
    1高遷=5412萬
    </span></pre>
    <hr>
    <table class="table table-bordered rounded-circle  ">

        <tr>
            <td>資源商</td>
            <td>價格</td>
        </tr>
        <tr>
            <td>
<pre ><span style="font-size: 13px">wechat id ： ixdsxq888  （眼镜仔）
line id ：dhdt1428 </span></pre>
            </td>
            <td>
<pre ><span style="font-size: 13px">匯率: 500人民幣 12E
2000台幣  10E</span></pre>
            </td>
        </tr>
        <tr>
            <td>
<pre ><span style="font-size: 13px">wechat id ： sanguozhitt  （三國志掏掏）</span></pre>
            </td>
            <td>
<pre ><span style="font-size: 13px">匯率: 55人民幣 1E</span></pre>
            </td>
        </tr>
    </table>
</div>


<div ng-show="showgrid=='5'">

    <pre ><span style="font-size: 13px">
        平民兵書收集及養成方式(不花元寶) by 大鵰哥2019/03/28

        如覺太長，請只看綠藍兵書必集及必不集的就可。


        兵書收集方式:
        每天5本免費兵書(6級大學解鎖)
        過關斬將3/6/9/12關 獲得 剛勁兵書(加武力)
        市場兌換兵書

        兵書註解(經驗)收集方式:
        每天免費兵書附送5個綠色註解
        市場兌換註解,每天限量20藍20綠(共花140殘貢)

        平民兵書,註解不用元寶收集方案:
        每天抽5本免費兵書書卷,集10本後合成兵書,把沒用的兵書化掉,兌換有用的兵書/註解
        每周打過關斬將,把剛勁兵書合成後化掉,獲得殘貢用來換兵書/註解




        各兵書用途:
        綠色兵書:
        看法:綠色兵書主要為資源加成兵書及單一兵種屬性加成兵書(如單一防/血/攻擊等等).滿級為5級,屬性加1.5(即1.5級兵種效果)
        需要集:
        1.兵道類,如加士兵攻擊/血量/防禦等等.因較容易升級,所以先集好亦令戰隊有小量戰力提升.有比沒有的好. 但若沒用上的兵種,如槍/盾等等,就不需要集,直接化掉.

        不需要集:
        1.文德類,不解釋,全當肥料化掉.

        藍色兵書:
        看法:藍色兵書比綠色兵書較為多元化, 除了兵種兵書及文德兵書外,還有功能兵書.

        需要集:
        兵道類,藍色兵道類兵書為加強兵種各屬性(血攻防)每級各0.2,兵書10級滿級,這是說滿級加各屬性2點,合共6點,即是=6級兵種效果.超有用.必集!
        同樣,按自已需要,如果沒槍隊或盾隊的兵書可化掉.

        功能兵書(招募,治療,擴兵,戰具,扶傷)
        功能兵書=功能城效果,必集不解釋.但要再說一下扶傷及擴兵重要性.如果50兵營配上滿級擴兵(20%)後,士兵總量為168萬,這士兵量出1及2隊打軍團BOSS是不會需要用上加速令回兵.可以打完後慢慢回.省回加速/兵符作日後打架需要,對長遠發展不錯.

        看似要集其實不需要集:
        所有兵道‧弓/槍/盾/騎「守」兵書全部都化掉.看以這亦加各屬性0.2,但需要在戰隊駐守城池所有加成. 但你是平民,駐守也很快被打掉,對你來說作用根本不大不要在這些兵書浪費註解,全都化掉.

        紫色兵書:
        看法:紫色兵書大致分為 1)控制類 2)屬性類 3)附助類.基本來說,不建議集紫色兵書.主要原因為你是平民,本身的註解不多,要升上紫色兵書的等級花很長時間,不如把資源集中在藍綠色兵書先滿再想.

        紫色「剛勁」兵書,現時能在過關斬將獲得,很客易集到一本.兵書加武將武力屬性.集到後請全都化掉!

        必集:以上剛說紫色不要集,但如果你能集到「龍稻‧帷幄」兵書,請絕對不要化掉. 「龍稻‧帷幄」加武將智力.放上郭嘉配孟子,只要多1點智力就能內訌對方郭嘉,所以這本後期必備,能集好就先存好.不升級也放郭嘉.

        橙色及紅色兵書:
        看法:你是平民啊!想什麼紅色兵書橙色兵書啊!遊戲倒了你還沒升到滿級!早點去睡吧XD

    </span></pre>
</div>

<div ng-show="showgrid=='6'">
    <table class="table table-bordered rounded-circle  ">
        <tr>
            <td>
寶物
            </td>
            <td>
滿級效果
            </td>
            <td>
適性
            </td>
            <td>
屬性
            </td>

        </tr>
        <tr>
            <td>烈女傳</td>
            <td>滿級每秒回5怒，持續10秒</td>
            <td></td>
            <td>
<pre ><span style="font-size: 13px">
- 適合給越早放技能越好的後排武將例如賈詡、貂蟬、曹操。不適合給補血及消除型的後排武將例如司馬懿、荀彧、龐統；
- 非7星賈詡+一鼓作氣+滿級烈女傳的效果等同對方7星賈詡加一鼓作氣（同時間滿怒）；
- 回怒不屬於增益效果，不能被司馬懿消除，但可以被封怒；
- 描述中的『戰鬥開始』，指雙軍前排接觸那一刻開始，即第4秒到第14秒持續回怒。
</span></pre>
            </td>
        </tr>
        <tr>
            <td>傷寒雜病論</td>
            <td>滿級每秒恢復100%武力的兵力</td>

            <td>前排的馬超、趙雲、孫策</td>
            <td>
<pre ><span style="font-size: 13px">
- 描述中的『每秒恢復自身統率X%的兵力』，實際為恢復自身武力%的兵力；
- 持續類回血或傷害的數值，都是截取生效那一刻的屬性為計算，即使之後屬性有變化亦不會改變已在持續回血/傷害的量，所以貂蟬的武力提升並不會令已經生效中的傷寒雜病論恢復更多血；
- 描述中的『戰鬥開始10秒後』，指雙軍前排接觸開始的10秒後，即第14到第24秒持續回血。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>漢書</td>
            <td>滿級普攻30%回12怒</td>

            <td>給所有後排智力武將。</td>
            <td>
<pre ><span style="font-size: 13px">
- 屬性提升智力，而且後排普攻時間比前排長適合
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>山海經</td>
            <td>滿級100%封怒4秒</td>

            <td>司馬懿、蔡文姬、郭嘉、張角、張遼、程昱、荀攸</td>
            <td>
<pre ><span style="font-size: 13px">
- 技能命中便封怒，適合給命中對象越多的武將。
           </span></pre>
            </td>
        </tr>
        <tr>
            <td>莊子</td>
            <td>滿級100%眩暈4秒</td>

            <td></td>
            <td>
<pre ><span style="font-size: 13px">
- 描述中『對兵力高於其自身上限60%的敵軍』是指敵人當前兵力只要大於等於敵人自己滿血60%便滿足條件，因此開場第一輪技能一定能滿足；
- 適合給傷害對象越多的武將例如司馬懿、蔡文姬、郭嘉、程昱；
- 並不適合張遼因為造成傷害的對象只有一個；
- 持續類傷害(DOT)的武將無法觸發莊子，因此並不適合張角、魯肅、夏侯淵、荀攸。
           </span></pre>
            </td>
        </tr>
        <tr>
            <td>詩經</td>
            <td>滿級100%禁止回血6秒</td>

            <td>蔡文姬、郭嘉、張角、程昱、荀攸</td>
            <td>
<pre ><span style="font-size: 13px">
- 適合給傷害對象越多的武將，或能穩定命中前排的武將；
- 其實是非常克制董卓呂蒙的寶物，建議亦可讓前排中間武將佩戴詩經用來廢除董卓回血（一般董卓會被放在中間位置）；
- 並不適合司馬懿及賈詡，因為二人技能已有等同效果。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>孟子</td>
            <td>滿級60%內訌4秒</td>

            <td>司馬懿</td>
            <td>
<pre ><span style="font-size: 13px">
- 技能命中並且智力高於敵方時有60%內訌，因此前排全部不適用；
- 內訌的最大價值是內訌敵方後排讓其自食其果，因此適合越早滿怒且技能命中對象多的武將；
- 在施法詠唱的期間被內訌，一樣會改變技能對象，同理地，在施法詠唱期間被眩暈/封技會導致無法放技；
- 滿怒速度一般但技能命中對象多的武將也適用，如郭嘉、張角、程昱、荀攸；
- 周瑜、魯肅同樣滿怒速度快，但技能命中對象少而且智力對比起郭嘉這類不高；
- 但同時要留意『智力高於敵方』這個條件，因為孟子並不提升智力，因此若敵方後排全部佩戴提供智力的寶物，哪怕是司馬懿亦可能智力比敵方後排低而無法生效。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>書經</td>
            <td>滿級45%怯戰6秒</td>

            <td></td>
            <td>
<pre ><span style="font-size: 13px">
- 描述『戰鬥開始4s後』，指雙軍前排接觸開始4秒後，即第8秒開始生效；
- 因此上兵伐謀(同樣是第8秒啟動)完美克制書經。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>玲瓏獅蠻帶</td>
            <td>滿級生成統率800%護盾</td>

            <td>董卓、公孫瓚</td>
            <td>
<pre ><span style="font-size: 13px">
- 價值高於紅色專屬的寶物，適合前排高統率及技能施放頻繁的武將；
- 同樣適合周瑜，因為寶物屬性為增加統率，是周瑜除任命外唯一的統率提升途徑。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>獸面吞頭鎧</td>
            <td>滿級生成智力400%護盾</td>

            <td></td>
            <td>
<pre ><span style="font-size: 13px">
- 跨服戰開局的神器。由於開局兵力珍貴，因此用最少的兵力去佔領最多或盡可能高級的農田和糧倉至為關鍵。因此開局4人隊伍：董卓+3後排其中一員帶獸面，可做到最少兵損最大效益。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>呂氏春秋</td>
            <td>滿級普攻有60%扣除12點怒</td>

            <td>馬超、趙雲、文丑</td>
            <td>
<pre ><span style="font-size: 13px">
- 獲得增益大於等於三個時便生效，適合能長時間存在增益效果的武將，姜維適合度一般，因為呂氏春秋的屬性是武力加成而不是統率加成；
- 增益類型必定是持續類的，總共以下8種：武力提升、智力提升、統率提升、傷害提升、減傷、護盾、免疫、持續回血；
- 相同類型的增益即使來源不同，亦只視為一個增益（例如，戰鼓已提供傷害增加，姜維技能開啟後即使繼續讓傷害增加，亦不視為增加增益）
- 在思考如何讓增益效果長期存在來最大化寶物效益時，可參考以下增益：
i> 戰鼓：傷害提升，永久
ii>開啟技能後的馬超、趙雲：武力提升，永久
iii>三略：減傷，永久
iv>玲瓏獅蠻帶：護盾，4秒
v>華佗技能：持續回血，10秒
vi>董卓、許褚、貂蟬、劉備的技能：3-6秒
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>吳越春秋</td>
            <td>滿級55%封怒封技6秒</td>

            <td></td>
            <td>
<pre ><span style="font-size: 13px">
- 描述中的『戰鬥開始10s後』，指雙軍前排接觸開始10秒後，即第14至第20秒生效；
- 屬性加成為防禦，適合給前排；
- 效果是取敵方智力最高的三人，則大部分情況皆為敵方後排，然而即使敵方不使用一鼓作氣，後排7星滿怒最遲時間亦為第12.5秒，第14秒已進入施法詠唱，因此單獨使用吳越春秋無法阻止敵方後排第一輪技能的施放，無法取代賈詡/山海經，但能作為賈詡或山海經的後續控制手段，形成連環控制。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>湛盧劍</td>
            <td>滿級提升30%傷害</td>

            <td>所有後排輸出武將</td>
            <td>
<pre ><span style="font-size: 13px">
- 當前血量大於等於60%滿血便觸發，帶來的傷害穩定，提升幅度高。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>史記</td>
            <td>滿級立即獲38怒，10秒持續回12怒</td>

            <td>功能性或坦克型的前排及周瑜</td>
            <td>
<pre ><span style="font-size: 13px">
- 屬性提升為武力及統率；
- 輸出型前排適用性低，因為當血量少於等於40%時，即便能快速滿怒，技能輸出的傷害亦不高（傷害跟兵力成正比）；
- 若周瑜為己方場上最後的武將，有可能因此效果而持續眩暈翻盤，但史記並不能作為周瑜最優先的寶物。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>吳鉤劍</td>
            <td>滿級提升10%傷害4秒</td>

            <td>華佗、龐統、劉備、曹操</td>
            <td><pre ><span style="font-size: 13px">
- 只適合命中友方目標大於等於4人的後排武將，如華佗、龐統、劉備、曹操；
- 效果持續4秒，雖然可以作為觸發呂氏春秋的疊加增益方法之一，但與戰鼓提供的增益重疊，因此並不推薦為了觸發呂氏春秋而使用。
            </td>
        </tr>
        <tr>
            <td>周禮</td>
            <td>滿級每層提升10%智力8秒</td>
            <td></td>
            <td>
<pre ><span style="font-size: 13px">
- 每釋放一個計略即觸發，可疊加，最多4層；
- 提升的智力是按基礎智力計算，跟馬超/趙雲提升武力的方式一致；
- 技能係數越高，周禮帶來的輸出提升越大，穩定性不如湛盧劍。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>論語</td>
            <td>滿級普攻60%封技1秒</td>
            <td>所有前排武將</td>
            <td>
<pre ><span style="font-size: 13px">
- 描述中的『兵力高於其自身上限60%』指敵方當前血量大約等於敵方滿血的60%便可觸發；
- 屬性提升為防禦，適合所有前排武將。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>老子</td>
            <td>滿級放技後普攻45%怯戰1秒</td>
            <td></td>
            <td>
<pre ><span style="font-size: 13px">
- 提升屬性為智力，只適合後排；
- 效果在技能施放後生效，持續6秒，即有6次機會怯戰敵人，但每次怯戰的機率偏低；
- 作為控制手段遠遜色於孟子/山海經這類，但可以作為一個純提供智力屬性的寶物給後排過渡。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>禮記</td>
            <td>滿級恢復400%統率兵力，免疫12秒</td>
            <td>前排坦克型武將</td>
            <td>
<pre ><span style="font-size: 13px">
- 提升屬性為統率、武力，適合前排坦克型武將；
- 『免疫控制』等同上兵伐謀的免疫，可以清除已存在的控制，但無法抵擋封怒。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>龍泉劍</td>
            <td>滿級普攻附帶100%智力的傷害6秒</td>
            <td>後排輸出型智力武將</td>
            <td>
<pre ><span style="font-size: 13px">
- 適合任何後排輸出型智力武將；
- 附帶的傷害為計策傷害，持續性，DOT；
- 不會無視防禦及減傷；
- 可以被荀彧及貂蟬消除。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>三略</td>
            <td>滿級減傷10%</td>
            <td></td>
            <td>
<pre ><span style="font-size: 13px">
- 永久增益，可以作為觸發呂氏春秋的增益條件；
- 屬性提升為三項，適合任何武將。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>爾雅</td>
            <td>滿級60%機率降低20%傷害6秒</td>
            <td>張遼、張飛及所有群攻型後排</td>
            <td>
<pre ><span style="font-size: 13px">
- 技能命中2個或以上敵軍便觸發，屬性提升為三項，適合張遼、張飛及所有群攻型後排；
- 滿級亦不能抵消湛盧劍的傷害提升，而且存在機率觸發，只能持續6秒，實用性偏低。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>六韜</td>
            <td>滿級減傷30%，恢復統率80%兵力</td>
            <td>前排統率型武將</td>
            <td>
<pre ><span style="font-size: 13px">
- 觸發條件苛刻，需要受到大於等於3個減益效果才能觸發，目前只有敵方的張遼能瞬間觸發此寶物效果，適用性太低。
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>戰國策</td>
            <td>滿級恢復12怒3秒</td>
            <td>前排統率型武將</td>
            <td>
<pre ><span style="font-size: 13px">
- 佩戴寶物的武將死亡後觸發效果，持續3秒回怒，並驅散屬性降低效果，無法驅散控制效果；
- 可作為開發趴趴流的寶物（待更新）
            </span></pre>
            </td>
        </tr>
        <tr>
            <td>東吳飛弓</td>
            <td>滿級提高30%傷害</td>
            <td>後排輸出型武將</td>
            <td>
<pre ><span style="font-size: 13px">
- 消滅敵軍後觸發
- 是佩戴寶物的武將擊殺才能觸發，需要驗證；
- 能否疊加，需要驗證。
            </span></pre>
            </td>
        </tr>
    </table>
</div>

<div ng-show="showgrid=='7'">
    <table class="table table-bordered rounded-circle  ">
        <tr>
            <td>等級</td>
            <td>需要量</td>
        </tr>
        <tr><td>0</td> <td>10</td></tr>
        <tr><td>!</td> <td>10</td></tr>
        <tr><td>2</td> <td>20</td></tr>
        <tr><td>3</td> <td>20</td></tr>
        <tr><td>4</td> <td>20</td></tr>
        <tr><td>5</td> <td>30</td></tr>
        <tr><td>6</td> <td>30</td></tr>
        <tr><td>7</td> <td>30</td></tr>
        <tr><td>8</td> <td>30</td></tr>
        <tr><td>9</td> <td>40</td></tr>
    </table>
</div>


<div ng-show="showgrid=='8'">
    <table class="table table-bordered rounded-circle  ">
        <tr>
            <td>馬匹</td>
            <td>能力</td>
        </tr>
    </table><table class="table table-bordered rounded-circle  ">
        <tr>
            <td>馬具</td>
            <td>能力</td>
        </tr>
    </table>
</div>