
@{
    ViewBag.Title = "SamgoModal";
}
<div class="modal-header">
    <h3>Hint</h3>
</div>
<div class="modal-body">
    <h4>資料送出中</h4>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
